<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Storage</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <nav class="side-menu">
        <ul>
          {% for category in site.category_list %}
          <li>
            <a href="{{ site.baseurl }}/categories/{{ category }}"
              >{{ category }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </nav>
      <main class="content">
        <ul>
          {% for post in site.posts %}
          <li>
            <a href="{{post.url}}">{{post.title}}</a>
          </li>
          {% endfor %}
        </ul>
      </main>
    </div>
    <!-- <script src="script.js"></script> -->
  </body>
</html>
