<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Storage</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <nav class="side-menu">
        <ul>
          <li><a href="#">메뉴 1</a></li>
          <li><a href="#">메뉴 2</a></li>
          <li><a href="#">메뉴 3</a></li>
        </ul>
      </nav>
      <main class="content">
        <h1>H1</h1>
        <p>P</p>
      </main>
    </div>
    <!-- <script src="script.js"></script> -->
  </body>
</html>
